.ibox-content img{
    width: 50px;
    height:auto;
}
.ibox-content img:hover{
    transform: scale(2);
    box-shadow: 2px 1px 1px #242424;
}
#tabs{
    overflow: hidden;
}
td form{
    display: inline-block;
}
.dash img{
    width: 150px;
    height:auto;
}

.action{
    width: 75px;
}